*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 200px auto; /*ou 1fr*/
    grid-template-areas: 
    "main-header main-header"
    "main-aside main-main"
    "main-footer main-footer"
}

header {
    background-color: rgb(0, 0, 255);
    grid-area: main-header;
    height: 50px;
    position: fixed;
    width: 100%;
    padding: 50px;
}

aside {
    background-color: rgb(255, 0, 0);
    grid-area: main-aside;
    height: 500px;
}

main {
    background-color: rgb(0, 255, 0);
    grid-area: main-main;
}

footer {
    background-color: rgb(255, 217, 0);
    grid-area: main-footer;
    height: 100px;
}