* {
    margin: 0px;
    padding: 0px;

}

header {
    height: 120px;
    background-color: cornflowerblue;
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    z-index: 10;
    
}


body {
    height: 3600px;
}

body .background{
    background-image: url(./34a3963145d2a3285e2f66ff4e5745ce.jpg);
    height: 1280px;
    width: 100%;
    background-repeat: no-repeat;
    position: fixed;
    background-position: top;
    background-size: cover;

    
}

